/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

header .container{
    display: flex;
    align-items: center;
}

header h1{
    background-color: white;
    font-size: 18px;
    padding: 15px 5px;
    width: 100%;
}

header nav{
    float: right;
}

header ul{
    display: flex;
    list-style-type: none;
    overflow: hidden;
}

header li{
    display: block;
    text-align: center;
    padding: 0px 10px;
}

header li a{
    text-decoration: none;
}

header a{
    color: #6b7280;
}

header a:hover{
    color: #5A67D8;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

.overview-hero{
    background-color: #E2E8F0;
    margin: 0;
    padding: 2% 0%;
}

.overview-hero .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.overview-hero .container > div{
    margin: 20px;
}

.overview-hero-image{
    flex-basis: 30%;
}

.overview-hero-text{
    flex-basis: 60%;
}

.overview-hero-image img{
    border-radius: 8px;
    width: 100%;
}

.learn-about {
    padding: 3% 0%;
}

.learn-about h2{
    font-size: 24px;
    color: #48BB78;
}

.learn-about h3{
    font-size: 21px;
    color: #48BB78;
}

.container .cards{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
    padding: 5px 20px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-color: #E2E8F0;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 10px;
}

.card img{
    width:100%;
}

.testing{
    background-color: #4A5568;
    color: white;
}

.testing a{
    background-color: #48BB78;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5% 5%;
    border-radius: 5px;
}

.testing .container{
    display: grid;
    grid-template-columns: 70% 20%;
    gap: 5%;
    justify-content: center;
    align-items: center;
    padding: 5% 0%;
}


.testing-desciption{
    grid-column: 1;
}

.cta{
    grid-column: 2;
}

.stories{
    padding: 10px 0px;
}

.stories h2{
    color: #5A67D8;
}

.stories h3{
    font-size: 18px;
}

.stories img{
    border-radius: 50%;
}

.stories a{
    text-decoration: none;
}

article{
    display: grid;
    grid-template-columns: 20% 70%;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

article img{
    grid-column: 1;
    width: 100%;
}

.article-body{
    grid-column: 2;
}

.newsletter{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #48BB78;
}

.newsletter .container{
    width: 40%;
    height: auto;
    padding-bottom: 5%;
    padding-top: 2%;
    color: white;
}

.newsletter h3{
    text-align: center;
}

.newsletter form{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5%;
}

.newsletter input{
    width: 100%;
    border-radius: 8px;
    border-width: 0;
    padding: 5% 2%;
    font-size: 18px;
}


.newsletter button{
    width: 100%;
    border-radius: 8px;
    background-color: #5A67D8;
    border-width: 0;
    padding: 5% 0%;
    color: white;
    font-size: 18px;
}

footer{
    background-color: #4A5568;
    color: white;
    padding: 10px 5px;
}

